.cityinfo {
    height: 40%;
    padding: 5px;
    position: relative;
    font-size: 2vw;
  }

  .hours_temp {
    height: 30%;
    padding: 5px;
    position: relative;
    font-size: 1.5vw;
  }

  .hours_rain {
    height: 30%;
    padding: 5px;
    position: relative;
    font-size: 1.5vw;
  }

  .hours_wind {
    height: 30%;
    padding: 5px;
    position: relative;
    font-size: 1.5vw;
  }

  .days {
    height: 30%;
    padding: 5px;
    position: relative;
    font-size: 1.5vw;
  }

  footer {
    height: 5%;
    background: #ccc;
    padding: 5px;
    position: relative;
    font-size: 1.5vw;
    text-align: center;
  }

  .height_center_4small {
    position: absolute;
    top: 50%;
    margin-top: -0.75vw;
    width: 100%;
  }

  .height_center_4big {
    position: absolute;
    top: 50%;
    margin-top: -6vw;
    width: 100%;
  }

  .height_center_4img {
    position: absolute;
    top: 50%;
    margin-top: -3vw;
    width: 100%;
  }

  .columns>div {
    display: inline-block;
    position: relative;
  }

  img {
    height: 4vw;
  }

  img[alt] {
    font-size: 15px;
  }

  .column_one {
    width: 12%;
    text-align: center;
    height: 100%;
    position: relative;
  }

  .near_bar {
    width: 30%;
    height: 100%;
  }

  .bar {
    width: 20%;
    background-color: dimgray;
    height: 100%;
  }

  .bar1 {
    width: 20%;
    background-color: dimgray;
    height: 40%;
    padding: 0px;
    width: 30%;
    border-color: blue;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
  }

  .bar2 {
    width: 20%;
    background-color: dimgray;
    height: 60%;
    padding: 0px;
    width: 30%;
    border-color: blue;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
  }

  .bar3 {
    width: 20%;
    background-color: dimgray;
    height: 80%;
    padding: 0px;
    width: 30%;
    border-color: blue;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
  }

  .days_1 {
    height: 30%;
    position: relative;
  }

  .days_2 {
    height: 40%;
    position: relative;
  }

  .img_big {
    height: 6vw;
  }

  .img_small {
    height: 2vw;
  }

  td {
    border: 1px solid grey;
  }