/* ---------------------- крупные блоки ---------------------- */

body{
  margin: 0%;
}

.header__navigation{
  background-color: #ccc;
  padding: 15px;
}

.header__pollution-and-search{
  background: rgb(236, 236, 236);
  padding: 15px;
}

.header-pollution-and-search__pollution{
  width: 70%;
}

.main__current-weather{
  padding: 15px;
}

.main-current-weather__common-indicators, .main-current-weather__specific-indicators{
  width: 40%;
  font-size: 150%;
}

section{
  margin: 0 0 40px 0;
}

.main-hours-weather__temperature-values{
  height: 80%; 
  border: solid dimgray;
  border-width: 0px 0px 2px 0px;
}

footer{
  padding:15px 0px;
  background-color: #ccc;
  text-align:center;
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

/* ---------------------- положение и его расширения ---------------------- */

.column{ 
  display: inline-block;
}

.equal-column{
  display: inline-block;
  width: 12%;
  text-align: center;
}

/* .hour__bar-temperature,weekday__temperature-and-weather,{
  width: 12%;
  text-align: center; 
} */

/* ---------------------- полосы, бары ---------------------- */

.one-hour-temperature4dg{
  position: relative; 
  top: 150px;
}

.temperature-bar16dg{
  background-color: powderblue; 
  width: 30px; 
  height: 200px; 
  margin: 0 auto;
}

.temperature-bar4dg{
  background-color: powderblue; 
  width: 30px; 
  height: 50px; 
  margin: 0 auto;
}

.precipitation-bar{
  font-size: 12pt; 
  background-color: powderblue; 
  width: 33%; 
  border-color:dimgray; 
  border-style: solid; 
  border-width: 2px 0px 0px 0px;
}

.precipitation-bar-low{
  height: 100px;
}

.precipitation-bar-middle{
  height: 150px;
}

.precipitation-bar-high{
  height: 200px;
}

/* ---------------------- остальное ---------------------- */

.rotate30{
  transform: rotate(30deg);
}

/* .loupe:before{
  content: url('styles/loupe2.png');
}

.loupe-:before{ 
  content: '§'; 
} */

.input-wrapper {
  position: relative;
}

.input-wrapper:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  background: url('Zoom.ico');
  width: 18px;
  height: 18px;
}

.input {
  padding-left: 23px;
}

img[alt] {
  font-size: 75%;
}

img {
  width: 70px;
  margin: 5px;
}



/* ---------------------- цвета ---------------------- */

/* .color1{
  background-color: #ccc;
}

.color2{
  background: rgb(236, 236, 236);
}

.bottom-gray-border{
  height: 80%; 
  border-color:dimgray; 
  border-style: solid; 
  border-width: 0px 0px 2px 0px;
} */


/* ---------------------- отступы, высота, ширина, шрифты---------------------- */

/* .padding5px{
  padding: 5px;
}

.padding15px{
  padding: 15px;
}

.width12pc{
  width: 12%;
}

.width30pc{
  width: 30%;
}

.width40pc{
  width: 40%;
}

.width60pc{
  width: 60%;
}

.fontsize150pc{
  font-size: 150%;
} */



