/* ---------------------- крупные блоки ---------------------- */

html,body{
  margin: 0;
  height: 100%;
  font-size:12pt;
}

.content {
  min-height: calc(100% - 40px);
}

main{
  margin-top: 10px;
}

.header__navigation{
  background-color: #ccc;
  padding: 15px;
}

.header__common-and-search{
  display: flex;
  flex-direction:column; 
  align-items: flex-start;
  background: rgb(236, 236, 236);
  padding: 15px;
}

.header-common-and-search__common{
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer{
  height: 40px;
  background-color: #ccc;
  text-align:center; 
  line-height: 40px; 
}

/* ---------------------- положение и его расширения ---------------------- */

.flex-container {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  padding:0;
}

.flex-container-changing-big {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  padding:0;
}

.flex-container-changing-small {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  padding:0;
}

.flex-item{
  width: 100%;
  text-align: center;
  margin: 0; 
}

.flex-item-black-line{
  border: solid black;
  border-width: 1px 0 0;
}

/* ---------------------- остальное ---------------------- */

button, input{
  font-size: 12pt;
}

.input-wrapper {
  margin: 2px;
  position: relative;
  left: 25px;
}

.input-wrapper:before {
  content: '';
  position: relative;
  top: 5px;
  /* left: -20px; */
  display: inline-block;
  background: url('Zoom.ico');
  width: 18px;
  height: 18px;
}

.input {
  padding-left: 23px;
}

.header-common-and-search__search{
  display:  flex;
  align-items:  center;
}

.header-common-and-search__search img{
  width: 40px;
  height: 30px;
}

.header-navigation > btn{
  margin: 2px;
}

#button_5days{
  background-color: DarkGrey;
}

.rotate180{
  transform: rotate(180deg);
}

.flex-container-changing-small > img{
  width: 60px;
  height: 60px;
}

img[alt] {
  font-size: 75%;
}

.header-common-and-search__common > img {
  width: 50px;
}

.header-common-and-search__search{
  font-size: 16pt;
}

.header-common-and-search__common{
  font-size: 16pt;
}

.five-days{
  display: flex; 
  align-items: center; 
  text-align: center;
}

.five-days > img{
  width: 40px; 
  height: 40px;
}

.five-days__table{
  width: 100%;
}

.five-days-table__common{
  display: flex; 
  flex-direction: row;
}

.five-days-table-common__day{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 20%; 
  border: 1px solid gray; 
}

.five-days-table-common-day__quarters{
  display: flex; 
  width: 100%; 
  border: 0 solid gray; 
  border-top-width: 1px;
}

.five-days-table-common-day__one-quarter{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 25%;
}

.five-days-table-common-day__one-quarter > img,
.five-days-table__precipitation-one-day img{
  width: 40px; 
  height: 40px;
  margin: 0 1px;
}

.quarter-degree{
  padding: 0 5px; 
  margin-bottom: 2px; 
}

.quarter-degree--8{
  background-color: darkseagreen;
}

.quarter-degree--16{
  background-color: gold;
}

.quarter-degree--21{
  background-color: lightsalmon;
}

.quarter-degree--17{
  background-color: gold;
}

.five-days-table__wind-title, 
.five-days-table__precipitation-title{
  background-color: #ccc; 
  border: solid gray; 
  border-width: 0 1px; 
}

.five-days-table__wind-days{
  display: flex; 
  flex-direction: row;
}

.five-days-table__wind-one-day{
  width: 20%; 
  display: flex; 
  flex-direction: row; 
  border: solid gray; 
  border-width: 1px; 
  padding: 5px 0;
}

.quarter{
  width: 25%;
}

.five-days-table__precipitation-days{
  display: flex; 
  flex-direction: row;
  height: 70px;
}

.five-days-table__precipitation-one-day{
  width: 20%; 
  display: flex; 
  flex-direction: row; 
  align-items: flex-end; 
  justify-content: space-around; 
  border: solid gray; 
  border-width: 1px; 
}

.gap{
  width: 40px;
}

.day-night-and-gaps{
  display: flex; 
  flex-direction: row;
}

.day-night{
  width: 100%; 
  display: flex; 
  flex-direction: column;
}

.day-night__title{
  width: 100%; 
  text-align: center; 
  display: flex; 
  flex-direction: row;
  background-color: gainsboro; 
  border: solid gray; 
  border-width: 1px;
  padding: 5px; 
  margin: 10px 0; 
}

.half{
  width: 50%
}

.day-night__content{
  width: 100%; 
  display: flex; 
  flex-direction: row;
}

.day-night-content__pic-distance{
  width: 100%; 
  display: flex; 
  flex-direction: row;
}

.day-night-content__pic{
  width: 50%; 
  text-align: center;
}

.day-night-content__distance{
  width: 50%; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
}

.day-night__footer{
  text-align: center; 
  padding: 10px 0;
}

/* ---------------------- адаптивный дизайн ---------------------- */

@media (min-width: 800px) {
  body{
    font-size:16pt;
  }

  .flex-container-changing-big {
    flex-direction:row;
  }

  .flex-container-changing-small {
    flex-direction:column;
  }

  .flex-item{
    /* width: 12%; */
  }

  .flex-item-black-line{
    border-width: 0;
  }

  .header__common-and-search{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main__current-weather{
    flex-direction: row;
  }

  .input-wrapper {
    /* position: static; */
    left: 0;
  }

  .header-common-and-search__search{
    font-size: 16pt;
  }
}
