/* ---------------------- крупные блоки ---------------------- */

html,body{
  margin: 0;
  height: 100%;
  font-size:12pt;
}

.content {
  min-height: calc(100% - 40px);
}

main{
  margin-top: 10px;
}

.header__navigation{
  background-color: #ccc;
  padding: 15px;
}

.header__common-and-search{
  display: flex;
  flex-direction:column; 
  align-items: flex-start;
  background: rgb(236, 236, 236);
  padding: 15px;
}

.header-common-and-search__common{
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer{
  height: 40px;
  background-color: #ccc;
  text-align:center; 
  line-height: 40px; 
}

/* ---------------------- положение и его расширения ---------------------- */

.flex-container {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  padding:0;
}

.flex-container-changing-big {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  padding:0;
}

.flex-container-changing-small {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  padding:0;
}

.flex-item{
  width: 100%;
  text-align: center;
  margin: 0; 
}

.flex-item-black-line{
  border: solid black;
  border-width: 1px 0 0;
}

/* ---------------------- остальное ---------------------- */

.five-days-table__days{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 400px;
  width: 20%;
  line-height: 1em;
}

.five-days-table__one-day{
  width: 100%;
  height: 80px;
}

.five-days-table__header{
  display: flex; 
  flex-direction: row; 
  text-align: center;
}

.five-days-table__wind-title{
  display: none;
}

.five-days-table__precipitation-title{
  display: none;
}


button, input{
  font-size: 12pt;
}

.input-wrapper {
  margin: 2px;
  position: relative;
  left: 25px;
}

.input-wrapper:before {
  content: '';
  position: relative;
  top: 5px;
  /* left: -20px; */
  display: inline-block;
  background: url('Zoom.ico');
  width: 18px;
  height: 18px;
}

.input {
  padding-left: 23px;
}

.header-common-and-search__search{
  display:  flex;
  align-items:  center;
}

.header-common-and-search__search img{
  width: 40px;
  height: 30px;
}

.header-navigation > btn{
  margin: 2px;
}

#button_5days, .active{
  background-color: DarkGrey;
}

.rotate-previous{
  transform: rotate(-90deg);
}

.rotate-following{
  transform: rotate(90deg);
}

.flex-container-changing-small > img{
  width: 60px;
  height: 60px;
}

img[alt] {
  font-size: 75%;
}

.header-common-and-search__common > img {
  width: 50px;
}

.header-common-and-search__search{
  font-size: 16pt;
}

.header-common-and-search__common{
  font-size: 16pt;
}

.five-days{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}

.five-days > img{
  width: 40px; 
  height: 40px;
}

.five-days__table{
  width: 99%;
}

.five-days__table1{
  display: flex;
  flex-direction: row;
}

.five-days-table__common{
  display: flex; 
  flex-direction: column;
  width: 40%;
  height: 400px;
}

.five-days-table-common__day{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
  border: 1px solid gray; 
  height: 80px;
}

.five-days-table-common-day__quarters{
  display: flex;
  flex-direction: column; 
  width: 100%; 
  border: 0 solid gray; 
  border-top-width: 1px;
}

.five-days-table-common-day__one-quarter{
  display: flex; 
  flex-direction: row; 
  justify-content: space-around;
  align-items: center; 
  width: auto;
}

.five-days-table-common-day__one-quarter > img,
.five-days-table__precipitation-one-day img{
  width: 40px; 
  height: 40px;
  margin: 0 1px;
  display: none;
}

.quarter-degree{
  padding: 0 5px; 
  margin-bottom: 2px; 
}

.quarter-degree--8{
  background-color: darkseagreen;
}

.quarter-degree--16{
  background-color: gold;
}

.quarter-degree--21{
  background-color: lightsalmon;
}

.quarter-degree--17{
  background-color: gold;
}

.five-days-table__wind-title, 
.five-days-table__precipitation-title{
  background-color: #ccc; 
  border: solid gray; 
  border-width: 0 1px; 
}

.five-days-table__wind-days{
  display: flex; 
  flex-direction: column;
  width: 20%;
  height: 400px;
}

.five-days-table__wind-one-day{
  width: 100%; 
  display: flex; 
  flex-direction: column;
  align-items: center; 
  border: solid gray; 
  border-width: 1px; 
  padding: 5px 0;
  height: 80px;
}

.quarter{
  width: 25%;
}

.five-days-table__precipitation-days{
  display: flex; 
  flex-direction: column;
  height: 70px;
  width: 20%;
  height: 400px;
}

.five-days-table__precipitation-one-day{
  width: 100%; 
  height: 80px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: space-around; 
  border: solid gray; 
  border-width: 1px; 
}

.gap{
  width: 40px;
}

.day-night-and-gaps{
  display: flex; 
  flex-direction: row;
}

.day-night{
  width: 100%; 
  display: flex; 
  flex-direction: row;
}

.day-night__title{
  width: 40%; 
  text-align: center; 
  display: flex; 
  flex-direction: column;
  background-color: gainsboro; 
  border: solid gray; 
  border-width: 1px;
  padding: 0; 
  margin: 0; 
}

.half{
  height: 50%
}

.day-night__content{
  width: 100%; 
  display: flex; 
  flex-direction: column;
  margin-left: 5px;
}

.day-night-content__pic-distance{
  width: 100%; 
  display: flex; 
  flex-direction: column;
}

.day-night-content__pic{
  width: 100%; 
  text-align: center;
}

.day-night-content__pic > img{
  width: 50px;
  height: 50px;
}

.day-night-content__distance{
  width: 100%; 
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
}

.day-night__footer{
  text-align: inherit; 
  padding: 10px 0;
}

.weekday-buttons{
  display: block;
}

/* ---------------------- адаптивный дизайн ---------------------- */

@media (min-width: 1000px) {
  body{
    font-size:14pt;
  }

  .flex-container-changing-big {
    flex-direction:row;
  }

  .flex-container-changing-small {
    flex-direction:column;
  }

  .flex-item{
    /* width: 12%; */
  }

  .flex-item-black-line{
    border-width: 0;
  }

  .header__common-and-search{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-common-and-search__search{
    font-size: 16pt;
  }

  .input-wrapper {
    /* position: static; */
    left: 0;
  }

  .main__current-weather{
    flex-direction: row;
  }

  .five-days{
    flex-direction: row; 
  }

  .rotate-previous{
    transform: rotate(180deg);
  }
  
  .rotate-following{
    transform: rotate(0deg);
  }

  .five-days-table__common{
    flex-direction: row;
    height: auto;
    width: 100%;
  }

  .five-days-table-common__day{
    width: 20%;
    height: auto;
  }

  .five-days-table__wind-days{
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .five-days-table__wind-one-day{
    width: 20%;
    height: auto;
  }

  .five-days-table__header{
    display: none;
  }

  .five-days-table__wind-title{
    display: block;
  }

  .five-days-table__precipitation-title{
    display: block;
  }

  .five-days-table__days{
    flex-direction: row;
    width: 100%;
    height: auto;
    line-height: 80%;
  }

  .five-days__table1{
    flex-direction: column;
  }

  .five-days-table__precipitation-days{
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .five-days-table__one-day{
    width: 20%;
    height: auto;
  }

  .five-days-table__precipitation-one-day{
    width: 20%;
    height: auto;
    align-items: flex-end;
  }

  .five-days-table-common-day__quarters{
    flex-direction: row;
  }

  .five-days-table-common-day__one-quarter > img,
  .five-days-table__precipitation-one-day img{
    display: block;
  }

  .five-days-table__wind-one-day{
    flex-direction: row;
  }

  .five-days-table__precipitation-one-day{
    flex-direction: row;
  }

  .five-days-table-common-day__one-quarter{
    flex-direction: column;
    width: 25%;
  }

  .day-night{
    flex-direction: column;
  }

  .day-night__title{
    width: 100%; 
    text-align: center; 
    display: flex; 
    flex-direction: row;
    background-color: gainsboro; 
    border: solid gray; 
    border-width: 1px;
    padding: 5px; 
    margin: 10px 0; 
  }

  .half{
    width: 50%
  }

  .day-night__content{
    flex-direction: row;
    margin-left: 0px;
  }

  .day-night-content__pic-distance{
    flex-direction: row;
  }

  .day-night-content__pic{
    width: 50%;
  }

  .day-night__footer{
    text-align: center; 
  }

  .day-night-content__distance{
    width: 50%;
  }

  .day-night-content__pic > img{
    width: 100px;
    height: 100px;
  }
  
  .weekday-buttons{
	display: none;
  }
  
}